{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School_home_page</title>
    <link rel="stylesheet" href="{% static 'styles/first.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>

<body class="p-3 mb-2 bg-white text-dark">

    <div class="p-3 mb-2 bg-danger text-white">
        <div class="row">
            <div class="col">
                <img src="{% static 'images/institute_logo_cobcept.png' %}" class="rounded float-left" alt="ЛОГОТИП">
            </div>
            <div class="col">
                <h1 class="display-5">Науково-дослідний інститут військових технологій "Наукознавець"</h1>
            </div>
        </div>
    </div>

    <p class="display-5 text-white">_</p>

    <h1 class = "display-3">Наш слоган:</h1>

    <center>
        <h1 class="text-danger bg-dark">Творимо завтра — захищаємо сьогодні!</h1>
    </center>

    <p class="display-5 text-white">_</p>

    <center>
        <h3><b>Про нас</b></h3>
    </center>

    <p>НДІ «Наукознавець» — це стратегічний науковий центр, що працює в інтересах оборони, безпеки та технологічного переосмислення сучасної війни. Інститут функціонує як міждисциплінарна платформа, де поєднуються фундаментальні дослідження, прикладна інженерія, кібернетика, біобезпека та аналітика військових систем.</p>
    <h5><b>Місія:</b></h5>
    <p>Створювати, адаптувати й упроваджувати передові наукові розробки для зміцнення обороноздатності держави в умовах гібридної війни та технологічних викликів.</p>

    <h5><b>Особливості:</b></h5>
    <ul>
        <li>Власна мережа лабораторій та полігонів</li>
        <li>Допуск до роботи в умовах підвищеного ризику (в т.ч. у Зоні)</li>
        <li>Співпраця з Міністерством оборони, Київською МАН, профільними вишами</li>
    </ul>
    
    <p class="display-5 text-white">_</p>

    <div class="row">
        <div class = "col">
            <img src="{% static 'images/Kruhlov.png' %}" class="rounded float-left" alt="КРУГЛОВ">
        </div>

        <div class = "col">
            <h3><b>Голова НДІ:</b></h6>
            <p><b>Доктор наук у сферах біології та оборонної економіки, Професор Круглов Володимир Богданович.</b></p>
            <p><b>Освіта:</b></p>
            <ul>
                <li>Закінчив Київський національний університет імені Тараса Шевченка за спеціальністю «Біологія», кваліфікація — «Біолог-дослідник»;</li>
                <li>– Пройшов підготовку в Інституті прикладних екологічних досліджень за спеціальністю «Біоекологія та адаптивні мутації»;</li>
                <li>– Отримав другу вищу освіту за спеціальністю «Оборонна економіка» в Академії стратегічних досліджень безпеки, кваліфікація — «Економіст науково-дослідних оборонних програм».</li>
            </ul>

            <P>Професор Круглов Олександр Іванович — доктор біологічних та оборонних наук, фахівець із вивчення мутаційних процесів у Зоні. Очолює Науково-дослідний інститут військових технологій "Наукознавець". Має понад 30 років наукового стажу, 15 з яких — у польових умовах підвищеної небезпеки. Співпрацює з провідними науковими та оборонними структурами. Автор десятків публікацій з біології, безпеки та оборонної економіки.</P>
        </div>
    </div>

    <p class="display-5 text-white">_</p>

    <center>
        <h3><b>Навчання в інституті «Наукознавець»</b></h3>
    </center>
    <p>Науково-дослідний інститут військових технологій «Наукознавець» — це унікальний освітній та науковий центр, який готує фахівців для всіх ключових напрямів сучасної армії. Ми поєднуємо глибоку наукову базу з реальними практиками оборонної сфери.</p>

    <h5><b>Навчальні програми охоплюють:</b></h5>
    <ul>
        <li>Кібербезпеку та інформаційні операції</li>
        <li>Біотехнології і військову медицину</li>
        <li>Озброєння та інженерні системи</li>
        <li>Екологічну безпеку та біозахист</li>
        <li>Оборонну економіку та стратегічне управління</li>
        <li>Роботу в умовах надзвичайної загрози (включно із Зоною)</li>
    </ul>

    <p>Студенти проходять підготовку у співпраці з військовими частинами, оборонними підприємствами, науковими лабораторіями та польовими групами. Практика — невід'ємна частина навчального процесу.</p>
    <p>Наші випускники — це аналітики, командири, інженери, дослідники та розробники, готові служити Україні на передовій наукового і технічного фронту.</p>

    <p class="display-5 text-white">_</p>

    <div class="p-3 mb-2 bg-light text-dark">

        <div class="row">
            <div class="col">
                <div class="hstack gap-3">
                    <h5>&#128205 Адреса:</h5>
                    <h5></h5>
                </div>
        
                <div class="hstack gap-3">
                    <h5>&#128231 Електронна пошта:</h5>
                    <h5>NDINaukoznavec2025gmail.com</h5>
                </div>
            
                <div class="hstack gap-3">
                    <h5>&#128241 Номер телефону:</h5>
                    <h5>+380 (66) 820 01 304</h5>
                </div>

                <p class="display-5 text-white">_</p>

                <div class="mb-3">
                    <h4><b>Графік прийому</b></h4>
                    <h5>Пн: 10:00 - 14:00</h5>
                    <h5>Вт: 10:00 - 14:00</h5>
                    <h5>Ср: 10:00 - 14:00</h5>
                    <h5>Чт: 10:00 - 14:00</h5>
                    <h5>Пт: 10:00 - 14:00</h5>
                </div>
            </div>
            <div class="col">
                <img src="{% static 'images/korpus 30_2.png' %}" class="img-thumbnail" alt="БУДІВЛЯ">
            </div>
        </div>

    </div>

    <p class="display-7 text-white">_</p>

    <center>
        <h3><b>Журнал для вчителів</b></h3>
        <a href = "login/"><button class="btn btn-secondary btn-lg active">Login</button></a>
        <a href= "register/"><button class="btn btn-secondary btn-lg active">Register</button></a>
    </center>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

</body>
</html>