{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student_work</title>
    <link rel="stylesheet" href="{% static 'styles/first.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body class="p-3 mb-2 bg-secondary text-white">
    <center>
        <h1 class="text-white bg-dark">Учні нашого навчального закладу</h1>
    </center>

    <ul>
        {% for student in students %}
            <li>{{ student.name }} {{ student.surname }} {{ student.class_hi_visits}}</li>
        {% endfor %}
    </ul>
    <p></p>
    <center>
        <h2 class="text-success bg-dark">Додати учня</h2>
    </center>
    <form action="/members/students/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="add">
        <!-- <p><b>Ім'я:</b><input type="text" name="name"></p>
        <p><b>Прізвище:</b><input type="text" name="surname"></p>
        <p><b>Який клас відвідує учень:</b><input type="text" name="class_hi_visits"></p> -->
        <div id = 'form-container'>
            {{ form }}
            <button type="submit", class="btn btn-success">Зберегти</button> 
        </div>

    </form>
    <p></p>
    <center>
        <h2 class="text-danger bg-dark">Видалити учня</h2>
    </center>
    <form action="/members/students/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete">
        <!-- <p><b>Ім'я:</b> <input type="text" name="name"></p>
        <p><b>Прізвище:</b> <input type="text" name="surname"></p>
        <p><b>Клас:</b> <input type="text" name="class_hi_visits"></p> -->
        <div id = 'form-container'>
            {{ form }}
            <button type="submit", class="btn btn-danger">Видалити</button>
        </div>
    </form>
    <p></p>
    <center>
        <h2 class="text-warning bg-dark">Оновити дані учня</h2>
    </center>
    <form action="/members/students/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="update">
        <p><b>Поточне ім'я:</b> <input type="text" name="old_name"></p>
        <p><b>Поточне прізвище:</b> <input type="text" name="old_surname"></p>
        <p><b>Поточний клас:</b> <input type="text" name="old_class_hi_visits"></p>
        
        <!-- <p><b>Нове ім'я:</b> <input type="text" name="new_name"></p>
        <p><b>Нове прізвище:</b> <input type="text" name="new_surname"></p>
        <p><b>Новий клас:</b> <input type="text" name="new_class_hi_visits"></p> -->

        <div id = 'form-container'>
            {{ form }}
            <button type="submit", class="btn btn-warning">Оновити</button>
        </div>
        
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

</body>
</html>